@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

#body-boost-indicator {
	opacity: 0;
	@apply transition-all delay-100;
	height: 0;
	&.htmx-request {
		opacity: 1;
		height: 2px;
	}
}
